DEBUG=True

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_ENV = development
FLUSH_DB = False
USE_RENDER_DB=False

CORS_ALLOWED_ORIGINS=https://localhost:3000,https://your-frontend-url.com
FRONTEND_BASE_URL=https://localhost:3000 or https://your-frontend-url.com

SQUARE_ENV=sandbox or production
SQUARE_BASE_URL_SANDBOX=https://connect.squareupsandbox.com
SQUARE_BASE_URL_PROD=https://connect.squareup.com
SQUARE_REDIRECT_URI=https://localhost:8000/api/businesses/square/callback/ or https://your-backend-url.com/api/businesses/square/callback/

CELERY_BROKER_URL=redis://redis:6379/0

# For Meta
FACEBOOK_REDIRECT_URI=https://localhost:3000/settings/social/ or https://your-frontend-url.com/settings/social/

# === Required Secrets: must be manually added ===
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,your-frontend-url.com,your-backend-url.com
SQUARE_APP_ID_SANDBOX=sandbox-your-sandbox-app-id
SQUARE_APP_SECRET_SANDBOX=sandbox-your-sandbox-app-secret
SQUARE_APP_ID_PROD=your-production-app-id
SQUARE_APP_SECRET_PROD=your-production-app-secret
FACEBOOK_APP_ID=your-facebook-app-id
FACEBOOK_SECRET=your-facebook-app-secret
OPENAI_API_KEY=sk-your-open-ai-api-key
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your-webhook-url
